* {
  /* asignamos un margin de 0 a todos los elementos */
  margin:0; 
  padding: 0;
}

html, 
body {
  font-size: 18px;
  background-color:#f5f6f7;
}

h1 {
  /* max-width: 940px; */
  /* em = tamaño relativo a su letra del contenedor, si el contenedor tiene
  10 px este font size va ser 2.5 veces ese valor*/
  font-size: 2.5em;
  font-family: Lato, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  margin: 40px 0;
}

.App {
  min-height: 100vh;
  /* hacemos que la aplicacion sea flex, relacionado con flexbox. Flexbox es una
  forma o herramienta disponible en css, para ver como se van a ubicar los distintos elementos 
  dentro del contenedor*/
  display: flex;
  /* flex-wrap: wrap = si un elemento toma todo el ancho del contenedor, los otros elementos van a ubicarse en la siguiente linea*/
  flex-wrap: wrap;
  /*align-items: center = se van a alinear en el centro */
  align-items: center;
  /* justify-content: center = vamos a centrarlo horizontalemente */
  justify-content: center;
  text-align: center;
}

.contenedor-principal {
  min-height: 600px;
  /* display: flex; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

